@media (max-width: 768px) {
    .contact-image {
      display: block;
    }
    .contact-earth-canvas {
      display: none;
    }
  }
  
  @media (min-width: 769px) {
    .contact-image {
      display: none;
    }
    .contact-earth-canvas {
      display: block;
    }
  }
  